# Career Prediction Preprocessing and Data Understanding

In [ ]:
import pandas as pd
import numpy as np

d:\year 3 materials\year 4\graduation project\PathFinder\data understanding

In [12]:
from pathlib import Path
import pandas as pd

DATA_PATH = Path("../data/career_dataset.csv")
data = pd.read_csv(DATA_PATH)
data.head()

,Unnamed: 0,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,...,interested in games,Interested Type of Books,Salary Range Expected,In a Realtionship?,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Suggested Job Role
0,0,69,63,78,87,94,94,87,84,61,...,no,Prayer books,salary,no,stubborn,Management,salary,hard worker,yes,Database Developer
1,1,78,62,73,60,71,70,73,84,91,...,yes,Childrens,salary,yes,gentle,Technical,salary,hard worker,no,Database Administrator
2,2,71,86,91,87,61,81,72,72,94,...,yes,Travel,Work,no,stubborn,Management,work,hard worker,no,Database Administrator
3,3,76,87,60,84,89,73,62,88,69,...,no,Romance,Work,yes,gentle,Management,work,smart worker,yes,Database Developer
4,4,92,62,90,67,71,89,73,71,73,...,yes,Cookbooks,salary,no,stubborn,Management,work,hard worker,yes,Systems Analyst

In [14]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 39 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Unnamed: 0                                20000 non-null  int64
 1   Acedamic percentage in Operating Systems  20000 non-null  int64
 2   percentage in Algorithms                  20000 non-null  int64
 3   Percentage in Programming Concepts        20000 non-null  int64
 4   Percentage in Software Engineering        20000 non-null  int64
 5   Percentage in Computer Networks           20000 non-null  int64
 6   Percentage in Electronics Subjects        20000 non-null  int64
 7   Percentage in Computer Architecture       20000 non-null  int64
 8   Percentage in Mathematics                 20000 non-null  int64
 9   Percentage in Communication skills        20000 non-null  int64
 10  Hours working per day                     20000 non-null  int64
 11  Logical quotient rating                   20000 non-null  int64
 12  hackathons                                20000 non-null  int64
 13  coding skills rating                      20000 non-null  int64
 14  public speaking points                    20000 non-null  int64
 15  can work long time before system?         20000 non-null  object
 16  self-learning capability?                 20000 non-null  object
 17  Extra-courses did                         20000 non-null  object
 18  certifications                            20000 non-null  object
 19  workshops                                 20000 non-null  object
 20  talenttests taken?                        20000 non-null  object
 21  olympiads                                 20000 non-null  object
 22  reading and writing skills                20000 non-null  object
 23  memory capability score                   20000 non-null  object
 24  Interested subjects                       20000 non-null  object
 25  Introvert                                 20000 non-null  object
 26  Job/Higher Studies?                       20000 non-null  object
 27  Type of company want to settle in?        20000 non-null  object
 28  Taken inputs from seniors or elders       20000 non-null  object
 29  interested in games                       20000 non-null  object
 30  Interested Type of Books                  20000 non-null  object
 31  Salary Range Expected                     20000 non-null  object
 32  In a Realtionship?                        20000 non-null  object
 33  Gentle or Tuff behaviour?                 20000 non-null  object
 34  Management or Technical                   20000 non-null  object
 35  Salary/work                               20000 non-null  object
 36  hard/smart worker                         20000 non-null  object
 37  worked in teams ever?                     20000 non-null  object
 38  Suggested Job Role                        20000 non-null  object
dtypes: int64(15), object(24)
memory usage: 6.0+ MB

,Unnamed: 0,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,Logical quotient rating,hackathons,coding skills rating,public speaking points
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,9999.500000,77.002300,76.948200,77.017550,77.094500,76.958200,77.015550,77.069850,76.913100,76.921450,7.985950,4.995050,2.992650,5.004750,5.012800
std,5773.647028,10.085697,10.101733,10.134815,10.087837,10.020088,10.168888,10.069059,10.138555,10.103494,2.593798,2.578383,2.005791,2.576831,2.588875
min,0.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,4.000000,1.000000,0.000000,1.000000,1.000000
25%,4999.750000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,6.000000,3.000000,1.000000,3.000000,3.000000
50%,9999.500000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,8.000000,5.000000,3.000000,5.000000,5.000000
75%,14999.250000,86.000000,86.000000,86.000000,86.000000,85.000000,86.000000,86.000000,86.000000,86.000000,10.000000,7.000000,5.000000,7.000000,7.000000
max,19999.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,12.000000,9.000000,6.000000,9.000000,9.000000

removed index column

In [15]:
data = data.drop(columns=['Unnamed: 0'])